<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Documents</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
       <!--     <a class="btn btn-info" href="#" role="button" th:href="@{/documents/add}">Add</a>-->
            <table class="table table-dark">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>STATUS</td>
                </tr>
                </thead>
                <tbody th:each="item: ${items}">
                <tr>
                    <td th:text="${item.id}">1</td>
                    <td th:text="${item.name}">name</td>
                    <td th:text="${item.status}">status</td>
                    <td>
                     <!--   <a class="btn btn-info" href="#" role="button" th:href="@{/documents/{id}(id=${document.id})}">View</a>
                        <a class="btn btn-info" href="#" role="button" th:href="@{/documents/{id}/delete(id=${document.id})}">Delete</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>